body{
    display: flex;
    justify-content: center;
}

.contenedor{
    /*flexible*/
    display: flex;
    flex-direction: column;
    align-items: center;

    /*dimension*/
    width: 40%;
    border: 1px solid lightblue;
    padding: 10px;
}