
.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border: 2px solid #ccc;
}

input {
    display: block;
    width: 90%;
    padding: 8px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#enviar{
    margin-left: 5px;
}


#mensaje {
    font-size: 18px;
   
    margin-top: 15px;
}
