body{
    display: flex;
    justify-content: center;
}

#contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;

    /*prueba*/
    border: 1px solid lightblue;

    padding: 10px;
    
}

